.web {
    display: flex;
    flex-direction: column;
    min-height: 3200px;
    position: relative;
}

.site-content {
    display: block;
    flex-direction: column;
}

.banner img{
    width: 100%;
    height: 450px;
    background-size: cover;
}

/* .content {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
} */

.main-content {
    width: 730px;
    margin-right: 40px;
}

.small-content {
    width: 730px;
    height: 330px;
}
/* 
h3 {
    margin-top: 30px;
    border-bottom: 2px solid var(--primary-color);
} */

.title {
    background-color: var(--primary-color);
    width: 280px;
    color: var(--white-color);
    font-size: 20px;
    height: 44px;
    line-height: 44px;
    display: block;
    padding-left: 16px;
    border-top-right-radius: 30px;
    
}

.section {
    display: flex;
}


.main {
    width: 300px;
    height: 310px;
    margin-top: 20px;
    margin-right: 20px;
}

.main img {
    display: block;
}


.main >a,p {
    font-size: 16px;
    margin-top: 10px;
    width: 300px;
    text-align: justify;
    line-height: 20px;
    color: #000;
}

.main a {
    font-weight: 550;
    text-align: left;
}

.main p {
    color: #4e9f79;
}

.article .section a:hover {
    text-decoration: underline;
}

.sub-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.sub-list__item {
    width: 50%;
}

.sub-list__item img {
    width: 190px;
    justify-content: space-around;
}

.list-item {
    position: relative;
    width: 190px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.list-item >a {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    bottom: 0;
    color: var(--white-color);
    background-color: rgba(4, 118, 64, 0.7);
    height: 56px;
    padding:  8px 8px;
    line-height: 20px;
}

.sub-article  {
    width: 350px;
}

.sub-article h3 {
    margin-bottom: 20px;
}

.sub-article span {
    background-color: var(--primary-color);
    width: 180px;
    color: var(--white-color);
    font-size: 20px;
    height: 44px;
    line-height: 44px;
    display: block;
    padding-left: 16px;
    border-top-right-radius: 30px;
}

.sub-article__item {
    font-size: 14px;
    width: 350px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding-left: 26px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
}

.sub-article__item:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    box-shadow: 2px 4px #ccc;
}

.sub-article__item i { 
    font-size: 18px;
    margin-right: 6px;
}

.sub-article video {
    width: 350px;
    height: 200px;
    box-shadow: 2px 4px #333;
}

.article-new__item {
    margin-bottom: 12px;
}

.new-item {
    display: flex;
}

.new-item img {
    width: 140px;
    margin-right: 10px;
}

.new-item h4 {
    font-size: 16px;
    color: #212529;
}









